@import url('./estilos.css');
@import url('./margin.css');


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

ul{
    align-items: center;
    display: flex;
}

/*Init header*/

.header{
    display: flex;
    justify-content: flex-end;
    flex: 0 0;
}
/*End header*/


/*INIT MAIN*/
.main{
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1 1;
}

.main__container-search_input{
    display: flex;
    align-items: center;
}

.main__container-search_input input{
    flex: 1 1;
}

.main__container-search_input .main__container__search_input-icon{
    flex: 0 0;
}
/*END MAIN*/

/*INIT FOOTER*/

.footer{
    justify-self: flex-end;
}

.footer .footer-option{
    display: flex;
    justify-content: space-between;
    flex: 0 0;
}
/*END FOOTER*/




/* :root {
    --lt-color-gray-100:  #f8f9fc;
    --lt-color-gray-200:  #f1f3f9;
    --lt-color-gray-300:  #dee3ed;
    --lt-color-gray-400:  #c2c9d6;
    --lt-color-gray-500:  #8f96a3;
    --lt-color-gray-600:  #5e636e;
    --lt-color-gray-700:  #2f3237;
    --lt-color-gray-800:  #1d1e20;
    --lt-color-gray-900:  #111213;
    --lt-shadowDefault:  0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive:  0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
    --lt-color-white:  #fff !important;
    --lt-color-black:  #111213 !important;
    --lt-color-transparent:  rgba(255, 255, 255, 0) !important;
    --lt-color-background-light:  var(--lt-color-gray-100) !important;
    --lt-color-background-default:  var(--lt-color-gray-200) !important;
    --lt-color-background-dark:  var(--lt-color-gray-300) !important;
    --lt-color-border-light:  var(--lt-color-gray-200) !important;
    --lt-color-border-default:  var(--lt-color-gray-300) !important;
    --lt-color-border-dark:  var(--lt-color-gray-400) !important;
    --lt-color-text-very-light:  var(--lt-color-gray-500) !important;
    --lt-color-text-light:  var(--lt-color-gray-600) !important;
    --lt-color-text-default:  var(--lt-color-gray-700) !important;
    --lt-color-text-dark:  var(--lt-color-gray-800) !important;
    --lt-color-overlay-default:  #fff !important;
    --lt-color-overlay-dark:  #fff !important;
    --lt-color-overlay-transparent:  rgba(0, 0, 0, 0.1) !important;
    --lt-shadow-website-overlay:  0 0 7px 0 rgba(0, 0, 0, 0.3) !important;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}


div{
    display: block;
}
header{
    width: 100%;
    height: 6rem;
}


header nav{
    display: flex;
    justify-content: flex-end;   
}

header nav .header__nav-right{
    width: 25rem;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .header__nav-right a{
    margin-right: 1rem;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

nav .header__nav-right .header__nav__right-liicon{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
}

nav .header__nav-right img{
    border-radius: 50%;
    margin-left: 1rem;
} */

/* main */
/* 
main{
    margin-top:4rem;
    text-align: center;
}

main .main-logo{
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

main .main-logo img{
    width: 272px;
    height: 92px;
}

main .main-input{
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

main .main__input-container{
    width: 52.5rem;
    border-radius: 10rem;
    border: 1px solid #def1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    width: 45rem;
    height: 2.7rem;
    border: none;
    outline: none;
}

main .main__input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input .main__input__container-search-icon{
    padding-left: .9rem;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .main-input .main__input__container-micro-icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}



main .main__input-buttons{
    width: 53rem;
    margin: 0 auto;
    display: inline-block;
}

main .main__input-buttons div{
    display: inline-block;
}

main .main__input-buttons button{
    height: 3.6rem;
    background-color: #f2f2f2;
    border: none;
    font-size: 1.1rem;
    color: #5f6368;
    border-radius: .4rem;
    padding: 0 1.6rem;
    margin-right: 1.5rem;
}


main .main__input-buttons button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
    background-color: #f8f8f8;
} */

/* Footer */
/* 
.footer div{
    border-top: 1px solid var(--border-gray-color);
    color: var(--dark-gray-color);
    padding: .95em 0 .95em 2.2em;
}
 

.footer .footer-region p{
    font-size: 1.1em;
    font-weight: 500;
    margin: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer .footer-options{
    display: flex;
    justify-content: space-between;
    flex: 0 0;
}

.footer div{
    border-top: 1px solid var(--border-gray-color);
    color: var(--dark-gray-color);
    padding: 0.95em 0 0.95em 2.2em;
}

footer{
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.3rem;
    background-color: #f2f2f2;
    border-top: .1rem solid #e4e4e4;

}

footer ul{
    margin: 1rem;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}


footer ul li a{
    margin: 1rem;
    color: #5f6268;
}  */